@*@page "/colombia/create"
@using Cine.Web.Repositories;
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService

<h3>Agregar Departamento</h3>



@code {
    private Colombia colombia= new();

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/colombia", colombia);
        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }

        navigationManager.NavigateTo("/colombia");
    }

    private void Return()
    {
        navigationManager.NavigateTo("/colombia");
    }
}
*@